<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Click the button</ion-card-subtitle>
      <ion-card-title>Just click it!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Enjoy clicking!</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <button ion-button color="secondary">Click me!</button>
    </ion-row>
  </ion-grid>
</ion-content>
